<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Guess The Number !</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
        <script src="script.js"></script>
</head>
    <body >
        <div ng-controller='Hm'>
            <div class="container" >
                <h2>Guess the Number !</h2>
                <p class="well lead">Guess the computer generated random number between 1 and 1000.</p>
                <label>Your Guess: </label><input type="number" ng-model="guess"/>
                <button ng-click="verifyGuess()" class="btn btn-primarybtn-sm">Verify</button>
                <button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>
                <p>
                    <p ng-show="deviation<0" class="alert alert-warning">Your guess is higher.</p>
                    <p ng-show="deviation>0" class="alert alert-warning">Your guess is lower.</p>
                    <p ng-show="deviation===0" class="alert alert-success">Yes! That"s it.</p>
                </p>
                <p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span><p>
            </div>
        </div>
    <div>{{1+1}}</div>
    </body>
</html>